@model IQueryable<ProjectItem>
@{
    string strTitle = "Проекти";
    ViewBag.Title = strTitle;
}

<div>
    <h2>@strTitle</h2>
    <div>
    @if (Model.Any())
    {
        <ul class="big-image-list">
            @foreach (ProjectItem entity in Model)
            {
                <a asp-area="" asp-controller="Projects" asp-action="Index" asp-route-id="@entity.Id">
                <li>
                    @if (@entity.TitleImagePath != null)
                    {
                        <img width="200" src="~/images/@entity.TitleImagePath" alt="" class="left" />
                    }
                    <h3>@entity.Title</h3>
                    <p>@entity.Subtitle</p>
                </li>
                </a>
                <hr>
            }
        </ul>
    }
    </div>
</div>