@model ProjectTaskViewModel
@{ 
    string strTitle = "Редагувати завдання";
    ViewBag.Title = strTitle;
}

<script src="~/js/ckeditor/ckeditor.js"></script>

<div>
    <h2>@strTitle</h2>
    <div>
        <form asp-area="Admin" asp-controller="ProjectTasks" asp-action="Edit" method="post" enctype="multipart/form-data">
            <input type="hidden" asp-for="@Model.ProjectTaskReference.TaskID" />
            <input type="hidden" asp-for="@Model.ProjectTaskReference.ProjectItem" />
            <input type="hidden" asp-for="@Model.ProjectTaskReference.ProjectId" />
            <div asp-validation-summary="All"></div>
            <div class="div-box">
                <label asp-for="@Model.ProjectTaskReference.TaskName"></label>
                <input asp-for="@Model.ProjectTaskReference.TaskName" />
                <span asp-validation-for="@Model.ProjectTaskReference.TaskName"></span>
            </div>
            <div class="div-box">
                <select name="devId" asp-items="@Model.SelectedDev"></select>
            </div>
            <div class="div-box">
                <label asp-for="@Model.ProjectTaskReference.TaskDescription"></label>
                <textarea asp-for="@Model.ProjectTaskReference.TaskDescription"></textarea>
                <span asp-validation-for="@Model.ProjectTaskReference.TaskDescription"></span>
            </div>
            <div class="div-box">
                <label asp-for="@Model.ProjectTaskReference.EstimatedTime"></label>
                <input asp-for="@Model.ProjectTaskReference.EstimatedTime" />
                <span asp-validation-for="@Model.ProjectTaskReference.EstimatedTime"></span>
            </div>
            <div class="div-box">
                <label asp-for="@Model.ProjectTaskReference.SpendedTime"></label>
                <input asp-for="@Model.ProjectTaskReference.SpendedTime" />
                <span asp-validation-for="@Model.ProjectTaskReference.SpendedTime"></span>
            </div>
            <div class="div-box">
                <label asp-for="@Model.ProjectTaskReference.isFinished"></label>
                <input type="checkbox" asp-for="@Model.ProjectTaskReference.isFinished" />
                <span asp-validation-for="@Model.ProjectTaskReference.isFinished"></span>
            </div>
            <input type="submit" value="Зберегти" />
        </form>
    </div>
</div>


<script>
    window.onload = function() {
        var newCKEdit = CKEDITOR.replace('@Html.IdFor(x=>x.ProjectTaskReference.TaskDescription)');
        newCKEdit.updateElement();
    }
</script>